<header class="text-center" style="margin: 100px;">
    <h2>Latest</h2>
</header>

<div class="row row-cols-2 row-cols-md-4 p-10 mx-auto">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, corporis ipsum nisi laborum laudantium libero cum dolore ipsa, assumenda, corrupti dignissimos facilis a quo. Delectus, et odit! Officia, odio officiis. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, a ab. Provident tempora quod, doloribus maxime temporibus numquam, fuga architecto nostrum amet deleniti iste, qui repudiandae quidem ipsa sequi voluptas.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, corporis ipsum nisi laborum laudantium libero cum dolore ipsa, assumenda, corrupti dignissimos facilis a quo. Delectus, et odit! Officia, odio officiis.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit a, atque voluptatibus laudantium debitis ut quae culpa, consectetur tenetur quod itaque ex dolore harum reiciendis provident, magnam cumque quo repudiandae.</p>
        </div>
      </div>
    </div>
  </div>