.main {
    background-color: #e9ebe9;
    height: 100%;
    color: #56a94f f;
}
.margin {
    margin-right: 100px;
    margin-left: 100px;
}
main {
    margin-top: 250px;
    margin-bottom: 200;
}
.full {
    width: 85vw;
    height: 80vh;
    max-width: 375px;
    max-height: 500px;
    margin-bottom: 100px;
    margin-left: 100px;
}
