<app-header></app-header>
<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div
        id="heroCarousel"
        data-bs-interval="5000"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div
            class="carousel-item active"
            style="
              background-image: url(../../../assets/images/photo_1CA07862_1129_96D3_41A4_03963097EED7.jpg);
            "
          >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Visit Us</h2>
                <p class="animate__animated animate__fadeInUp">
                  To Learn More about Our collections
                </p>
                <div>
                  <a
                    href="#about"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <div class="container bg-dark" style="color: white; margin-top: 120px">
    <div
      class="row justify-content-center text-center"
      style="margin-bottom: 50px"
    >
      <div>
        <p style="font-size: 30px; margin: 20px">
          Visit Bilalul-Habeshi Museum
        </p>
      </div>
      <!-- <div class="row"> -->
      <img src="../../../assets/home.jpg" width="80%" height="500px" alt="" />
      <!-- </div> -->
    </div>
  </div>

  <!-- 
</body>

<h3>
  Plan your visit to the V&A family of museums. Our venues in South Kensington,
  Dundee and Stoke-on-Trent are open and free to visit now.
</h3>

<div class="row">
  <div class="col-md-4">
    <h2>B$H museum</h2>
    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
  </div>

  <div class="col-md-4">
    <img
      src="../../../assets/images/joel-filipe-QwoNAhbmLLo-unsplash.jpg"
      alt="Nature"
      style="width: auto"
    />
    <h2>B4H museum</h2>
    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
  </div>
</div> -->

  <div class="margin">
    <div class="card-body" style="margin-top: 100px">
      <div class="card-body text-center mx-auto">
        <h2 style="font-size: 40px; font-weight: 500; margin: 30px">
          <strong> Visit Us</strong>
        </h2>

        <div class="row">
          <div class="container_fluid bg" style="color: white">
            <div class="row justify-content-center text-center">
              <div class="full" id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</body>
