.main {
    background-color: #232425;
    height: 100%;
    color: #ffffff;
}
.margin {
    margin-right: 100px;
    margin-left: 100px;
}
main {
    margin-top: 250px;
}
.full {
    width: 85vw;
    height: 80vh;
}
