<app-header></app-header>
<div class="container-fluid" style="margin-top: 100px">
  <div class="row justify-content-center">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="card">
        <div
          class="card-header"
          style="background-color: #111111; color: aliceblue"
        >
          <h3 class="card-title">Tell Us about your Item</h3>
        </div>

        <!-- general form elements -->
        <div class="card-body">
          <div class="form-group">
            <form [formGroup]="form">
              <formly-form
                [model]="model"
                [fields]="fields"
                [options]="options"
                [form]="form"
              ></formly-form>
              <div class="card-footer" *ngIf="!loading">
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
              <div *ngIf="loading">
                <div class="row justify-content-center text-center">
                  <mat-spinner></mat-spinner>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
