<body>
  <div class="container">
    <img src="../../../assets/images/33.jpg" alt="Snow" style="width: 100%" />

    <div class="centered">Donate</div>
  </div>
  <p>
    The V&A is a charity and relies on your support. By supporting the V&A
    through Membership, patrons or Corporate Partnership programmes, donating
    towards our special projects or leaving a Legacy, or by making a gift
    towards our broad range of activities and capital campaigns, you are helping
    make the V&A a world-class centre of excellence in art and design. Support
    from members of the public, companies and charitable organisations helps us
    to build and refurbish galleries, curate world-class exhibitions, improve
    facilities, conserve and study the collection, buy objects and develop our
    learning and events programme..
  </p>
  <script
    src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.35396"
    type="text/javascript"
  ></script>
  <script
    src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.35396"
    type="text/javascript"
  ></script>
  <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"
  ></script>
  <script
    src="https://js.jotform.com/vendor/postMessage.js?3.3.35396"
    type="text/javascript"
  ></script>
  <script
    src="https://js.jotform.com/WidgetsServer.js?v=1660925704315"
    type="text/javascript"
  ></script>
  <script type="text/javascript">
    JotForm.newDefaultTheme = true;
    JotForm.extendsNewTheme = false;
    JotForm.newPaymentUIForNewCreatedForms = false;
    JotForm.newPaymentUI = true;

    JotForm.setConditions([
      {
        action: [
          {
            id: "action_1579070699116",
            visibility: "Show",
            isError: false,
            field: "9",
          },
        ],
        id: "1579070708248",
        index: "0",
        link: "Any",
        priority: "0",
        terms: [
          {
            id: "term_1579070699116",
            field: "8",
            operator: "equals",
            value: "Cash",
            isError: false,
          },
        ],
        type: "field",
      },
    ]);
    JotForm.clearFieldOnHide = "disable";
    JotForm.submitError = "jumpToFirstError";

    JotForm.init(function () {
      /*INIT-START*/
      if (window.JotForm && JotForm.accessible)
        $("input_10").setAttribute("tabindex", 0);
      if (window.JotForm && JotForm.accessible)
        $("input_4").setAttribute("tabindex", 0);
      JotForm.alterTexts(undefined);
      /*INIT-END*/
    });

    JotForm.prepareCalculationsOnTheFly([
      null,
      null,
      { name: "submit2", qid: "2", text: "Submit", type: "control_button" },
      {
        name: "donorName",
        qid: "3",
        text: "Donor Name",
        type: "control_fullname",
      },
      {
        name: "companyName",
        qid: "4",
        text: "Company Name",
        type: "control_textbox",
      },
      {
        name: "email",
        qid: "5",
        subLabel: "example@example.com",
        text: "Email",
        type: "control_email",
      },
      {
        name: "phoneNumber",
        qid: "6",
        text: "Phone Number",
        type: "control_phone",
      },
      null,
      {
        name: "typeOf",
        qid: "8",
        text: "Type of Donation",
        type: "control_dropdown",
      },
      { name: "amount", qid: "9", text: "Amount", type: "control_widget" },
      {
        name: "notes",
        qid: "10",
        text: "Donor Notes",
        type: "control_textarea",
      },
    ]);
    setTimeout(function () {
      JotForm.paymentExtrasOnTheFly([
        null,
        null,
        { name: "submit2", qid: "2", text: "Submit", type: "control_button" },
        {
          name: "donorName",
          qid: "3",
          text: "Donor Name",
          type: "control_fullname",
        },
        {
          name: "companyName",
          qid: "4",
          text: "Company Name",
          type: "control_textbox",
        },
        {
          name: "email",
          qid: "5",
          subLabel: "example@example.com",
          text: "Email",
          type: "control_email",
        },
        {
          name: "phoneNumber",
          qid: "6",
          text: "Phone Number",
          type: "control_phone",
        },
        null,
        {
          name: "typeOf",
          qid: "8",
          text: "Type of Donation",
          type: "control_dropdown",
        },
        { name: "amount", qid: "9", text: "Amount", type: "control_widget" },
        {
          name: "notes",
          qid: "10",
          text: "Donor Notes",
          type: "control_textarea",
        },
      ]);
    }, 20);
  </script>
  <style type="text/css">
    @media print {
      .form-section {
        display: inline !important;
      }
      .form-pagebreak {
        display: none !important;
      }
      .form-section-closed {
        height: auto !important;
      }
      .page-section {
        position: initial !important;
      }
    }
  </style>
  <link
    type="text/css"
    rel="stylesheet"
    href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?"
  />
  <link
    type="text/css"
    rel="stylesheet"
    href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.35396"
  />
  <link
    type="text/css"
    rel="stylesheet"
    href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.35396"
  />
  <form
    class="jotform-form"
    action="https://submit.jotform.com/submit/222305209110539/"
    method="post"
    name="form_222305209110539"
    id="222305209110539"
    accept-charset="utf-8"
    autocomplete="on"
  >
    <input type="hidden" name="formID" value="222305209110539" />
    <input type="hidden" id="JWTContainer" value="" />
    <input type="hidden" id="cardinalOrderNumber" value="" />
    <div role="main" class="form-all">
      <style>
        .form-all:before {
          background: none;
        }
      </style>
      <ul class="form-section page-section">
        <li class="form-line" data-type="control_fullname" id="id_3">
          <label
            class="form-label form-label-top form-label-auto"
            id="label_3"
            for="first_3"
          >
            Donor Name
          </label>
          <div id="cid_3" class="form-input-wide" data-layout="full">
            <div data-wrapper-react="true">
              <span
                class="form-sub-label-container"
                style="vertical-align: top"
                data-input-type="first"
              >
                <input
                  type="text"
                  id="first_3"
                  name="q3_donorName[first]"
                  class="form-textbox"
                  data-defaultvalue=""
                  autoComplete="section-input_3 given-name"
                  size="10"
                  value=""
                  data-component="first"
                  aria-labelledby="label_3 sublabel_3_first"
                />
                <label
                  class="form-sub-label"
                  for="first_3"
                  id="sublabel_3_first"
                  style="min-height: 13px"
                  aria-hidden="false"
                >
                  First Name
                </label>
              </span>
              <span
                class="form-sub-label-container"
                style="vertical-align: top"
                data-input-type="last"
              >
                <input
                  type="text"
                  id="last_3"
                  name="q3_donorName[last]"
                  class="form-textbox"
                  data-defaultvalue=""
                  autoComplete="section-input_3 family-name"
                  size="15"
                  value=""
                  data-component="last"
                  aria-labelledby="label_3 sublabel_3_last"
                />
                <label
                  class="form-sub-label"
                  for="last_3"
                  id="sublabel_3_last"
                  style="min-height: 13px"
                  aria-hidden="false"
                >
                  Last Name
                </label>
              </span>
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_dropdown" id="id_8">
          <label
            class="form-label form-label-top form-label-auto"
            id="label_8"
            for="input_8"
          >
            Type of Donation
          </label>
          <div id="cid_8" class="form-input-wide" data-layout="half">
            <select
              class="form-dropdown"
              id="input_8"
              name="q8_typeOf"
              style="width: 150px"
              data-component="dropdown"
            >
              <option value="">Please Select</option>
              <option selected="" value="Cash">Cash</option>
              <option value="Product/Item">Product/Item</option>
              <option value="Service">Service</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </li>
        <li
          class="form-line form-field-hidden"
          style="display: none"
          data-type="control_widget"
          id="id_9"
        >
          <label
            class="form-label form-label-top form-label-auto"
            id="label_9"
            for="input_9"
          >
            Amount
          </label>
          <div id="cid_9" class="form-input-wide" data-layout="full">
            <div
              data-widget-name="Masked Input"
              style="width: 100%; text-align: Left; overflow-x: auto"
              data-component="widget-field"
            >
              <iframe
                data-client-id="53831901bbbeaf3d0300000e"
                title="Masked Input"
                frameBorder="0"
                scrolling="no"
                allowtransparency="true"
                allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen"
                data-type="iframe"
                class="custom-field-frame"
                id="customFieldFrame_9"
                src=""
                style="
                  max-width: 178px;
                  border: none;
                  width: 100%;
                  height: 24px;
                "
                data-width="178"
                data-height="24"
              >
              </iframe>
              <div class="widget-inputs-wrapper">
                <input
                  type="hidden"
                  id="input_9"
                  class="form-hidden form-widget"
                  name="q9_amount"
                  value=""
                />
                <input
                  type="hidden"
                  id="widget_settings_9"
                  class="form-hidden form-widget-settings"
                  value="%5B%7B%22name%22%3A%22precision%22%2C%22value%22%3A%222%22%7D%2C%7B%22name%22%3A%22separator%22%2C%22value%22%3A%22.%22%7D%2C%7B%22name%22%3A%22delimiter%22%2C%22value%22%3A%22%2C%22%7D%2C%7B%22name%22%3A%22convertToInt%22%2C%22value%22%3A%22Yes%22%7D%2C%7B%22name%22%3A%22unit%22%2C%22value%22%3A%22%24%22%7D%2C%7B%22name%22%3A%22defaultValue%22%2C%22value%22%3A%22100%2C00%22%7D%5D"
                  data-version="2"
                />
              </div>
              <script type="text/javascript">
                setTimeout(function () {
                  var _cFieldFrame =
                    document.getElementById("customFieldFrame_9");
                  if (_cFieldFrame) {
                    _cFieldFrame.onload = function () {
                      if (typeof widgetFrameLoaded !== "undefined") {
                        widgetFrameLoaded(9, {
                          formID: 222305209110539,
                        });
                      }
                    };
                    _cFieldFrame.src =
                      "//widgets.jotform.io/maskedInput/?qid=9&ref=" +
                      encodeURIComponent(
                        window.location.protocol + "//" + window.location.host
                      ) +
                      "" +
                      "" +
                      "&injectCSS=" +
                      encodeURIComponent(
                        window.location.search.indexOf("ndt=1") > -1
                      );
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }, 0);
              </script>
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_textarea" id="id_10">
          <label
            class="form-label form-label-top form-label-auto"
            id="label_10"
            for="input_10"
          >
            Donor Notes
          </label>
          <div id="cid_10" class="form-input-wide" data-layout="full">
            <textarea
              id="input_10"
              class="form-textarea"
              name="q10_notes"
              style="width: 648px; height: 163px"
              data-component="textarea"
              aria-labelledby="label_10"
            ></textarea>
          </div>
        </li>
        <li class="form-line" data-type="control_textbox" id="id_4">
          <label
            class="form-label form-label-top form-label-auto"
            id="label_4"
            for="input_4"
          >
            Company Name
          </label>
          <div id="cid_4" class="form-input-wide" data-layout="half">
            <input
              type="text"
              id="input_4"
              name="q4_companyName"
              data-type="input-textbox"
              class="form-textbox"
              data-defaultvalue=""
              style="width: 20px"
              size="20"
              value=""
              data-component="textbox"
              aria-labelledby="label_4"
            />
          </div>
        </li>
        <li class="form-line" data-type="control_email" id="id_5">
          <label
            class="form-label form-label-top form-label-auto"
            id="label_5"
            for="input_5"
          >
            Email
          </label>
          <div id="cid_5" class="form-input-wide" data-layout="half">
            <span class="form-sub-label-container" style="vertical-align: top">
              <input
                type="email"
                id="input_5"
                name="q5_email"
                class="form-textbox validate[Email]"
                data-defaultvalue=""
                style="width: 30px"
                size="30"
                value=""
                data-component="email"
                aria-labelledby="label_5 sublabel_input_5"
              />
              <label
                class="form-sub-label"
                for="input_5"
                id="sublabel_input_5"
                style="min-height: 13px"
                aria-hidden="false"
              >
                example@example.com
              </label>
            </span>
          </div>
        </li>
        <li class="form-line" data-type="control_phone" id="id_6">
          <label
            class="form-label form-label-top form-label-auto"
            id="label_6"
            for="input_6_area"
          >
            Phone Number
          </label>
          <div id="cid_6" class="form-input-wide" data-layout="half">
            <div data-wrapper-react="true">
              <span
                class="form-sub-label-container"
                style="vertical-align: top"
                data-input-type="areaCode"
              >
                <input
                  type="tel"
                  id="input_6_area"
                  name="q6_phoneNumber[area]"
                  class="form-textbox"
                  data-defaultvalue=""
                  autoComplete="section-input_6 tel-area-code"
                  value=""
                  data-component="areaCode"
                  aria-labelledby="label_6 sublabel_6_area"
                />
                <span class="phone-separate" aria-hidden="true"> - </span>
                <label
                  class="form-sub-label"
                  for="input_6_area"
                  id="sublabel_6_area"
                  style="min-height: 13px"
                  aria-hidden="false"
                >
                  Area Code
                </label>
              </span>
              <span
                class="form-sub-label-container"
                style="vertical-align: top"
                data-input-type="phone"
              >
                <input
                  type="tel"
                  id="input_6_phone"
                  name="q6_phoneNumber[phone]"
                  class="form-textbox"
                  data-defaultvalue=""
                  autoComplete="section-input_6 tel-local"
                  value=""
                  data-component="phone"
                  aria-labelledby="label_6 sublabel_6_phone"
                />
                <label
                  class="form-sub-label"
                  for="input_6_phone"
                  id="sublabel_6_phone"
                  style="min-height: 13px"
                  aria-hidden="false"
                >
                  Phone Number
                </label>
              </span>
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_2">
          <div id="cid_2" class="form-input-wide" data-layout="full">
            <div
              data-align="auto"
              class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField"
            >
              <button
                id="input_2"
                type="submit"
                class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                data-component="button"
                data-content=""
              >
                Donate
              </button>
            </div>
          </div>
        </li>
        <li style="display: none">
          Should be Empty:
          <input type="text" name="website" value="" />
        </li>
      </ul>
    </div>
    <script>
      JotForm.showJotFormPowered = "new_footer";
    </script>
    <script>
      JotForm.poweredByText = "Powered by Jotform";
    </script>
    <input
      type="hidden"
      class="simple_spc"
      id="simple_spc"
      name="simple_spc"
      value="222305209110539"
    />
    <script type="text/javascript">
      var all_spc = document.querySelectorAll(
        "form[id='222305209110539'] .si" + "mple" + "_spc"
      );
      for (var i = 0; i < all_spc.length; i++) {
        all_spc[i].value = "222305209110539-222305209110539";
      }
    </script>
  </form>
</body>
