<app-sidebar></app-sidebar>
<!--
<div class="content h-100%">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>3</h3>

            <p>Rooms</p>
          </div>
          <div class="icon">
            <i class="fa fa-building"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6 w-inherit">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>5</h3>

            <p>Renters</p>
          </div>
          <div class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>21</h3>

            <p>Payments</p>
          </div>
          <div class="icon">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>212</h3>
            <p>Rooms rented this month</p>
          </div>
          <div class="icon">
            <i class="fa fa-building"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6 w-inherit">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>2000</h3>
            <p>Amount collected this month</p>
          </div>
          <div class="icon">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>202</h3>
          </div>
          <div class="icon">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3></h3>

            <p>Over Due Payments</p>
          </div>
          <div class="icon">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6 w-inherit">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>202</h3>

            <p>Vacant Rooms</p>
          </div>
          <div class="icon">
            <i class="fa fa-building"></i>
          </div>
          <a href="" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
