<app-header></app-header>

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" style="margin-top: 50px">
    <div class="row no-gutters">
      <video
        class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
        width="50%"
        height="0%"
        controls
      >
        <source src="movie.mp4" type="video/mp4" />
        <source src="movie.ogg" type="video/ogg" />
        Your browser does not support the video tag.
      </video>
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
          <h3>Voluptatem dignissimos provident quasi</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
            aute irure dolor in reprehenderit
          </p>
          <div class="row"></div>
        </div>
        <!-- End .content-->
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
<app-footer></app-footer>
