* {
    background: #56a94f;
}
nav {
    a {
        color: #ffffff;
        &:hover {
            color: #becbbd;
            background-color: #c6cbc5;
        }
    }
    .dropdown-menu {
        background-color: #56a94f;
    }
}
.brand-image {
    max-width: 20%;
    max-height: 20%;
}
