<body class="layout-top-nav">
  <nav class="navbar navbar-expand-md navbar-light navbar-white">
    <a href="/" class="navbar-brand">
      <!-- src="../../../assets/bh_english.jpg"
      width="200"
      height="100" -->
      <img
        class="brand-image "
        style="opacity: 0.4; margin-left:20%;"
        
      />
      <span class="brand-text font-weight-light" style="font-family: Garamond, serif;font-size: 35px; margin-top: -24px;"> Bilalul-Habeshi </span>
    </a>

    <button
      class="navbar-toggler order-1"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-left: 20%;">
      <div
        class="collapse navbar-collapse order-3 text-center"
        id="navbarCollapse"
      >
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/visit']">Visit us</a>
          </li>
          <li class="nav-item dropdown">
            <a
              id="dropdownSubMenu1"
              [routerLink]="['/collection']"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="nav-link dropdown-toggle"
              >Collection</a
            >
            <ul
              aria-labelledby="dropdownSubMenu1"
              class="dropdown-menu border-0 shadow"
            >
              <li>
                <a [routerLink]="['/collection']" class="dropdown-item"
                  >Books
                </a>
              </li>
              <li>
                <a [routerLink]="['#']" class="dropdown-item">Alibasat</a>
              </li>

              <!--<li class="dropdown-divider"></li>-->

              <li class="dropdown-submenu dropdown-hover">
                <a
                  id="dropdownSubMenu2"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="dropdown-item"
                  >People</a
                >
                <!--<ul
                    aria-labelledby="dropdownSubMenu2"
                    class="dropdown-menu border-0 shadow"
                  >
                    <li>
                      <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                    </li>
  
                  
                    <li class="dropdown-submenu">
                      <a
                        id="dropdownSubMenu3"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        class="dropdown-item dropdown-toggle"
                        >level 2</a
                      >
                      <ul
                        aria-labelledby="dropdownSubMenu3"
                        class="dropdown-menu border-0 shadow"
                      >
                        <li><a href="#" class="dropdown-item">3rd level</a></li>
                        <li><a href="#" class="dropdown-item">3rd level</a></li>
                      </ul>
                    </li>
                  
  
                    <li><a href="#" class="dropdown-item">level 2</a></li>
                    <li><a href="#" class="dropdown-item">level 2</a></li>
                  </ul>
                </li>-->
                <!-- End Level two -->
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Join & Support </a>
          </li>
          <li class="nav-item">
              <a class="" class="nav-link button-end btn btn-secondary" [routerLink]="['/login']">Admin</a>
          </li>
        </ul>

        <!-- SEARCH FORM -->
      </div>
    </div>

    <!-- Right navbar links -->
    <!-- </div> -->
  </nav>
</body>
