
    <div class="card-body" style="margin-top: 100px;">
      <h1 class="card-title">From the Collections</h1>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos commodi, 
        pariatur, explicabo facere animi doloremque, nobis nihil et quas praesentium exercitationem 
        enim distinctio. Nulla eveniet itaque voluptatem dolorem quo molestias eius magni aliquam quibusdam.  </p>
        <div class="card-body text-center" id="search-bar">
            <h2>Explore the Collections</h2>
            <label for="search">Search more than 1.2 million objects</label>
            <form class="d-flex" role="search">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                  </div>
                <!-- <div class="input-group">
                <span class="input-group-text">
                    <input class="btn" type="date">
                </span></div> -->
            </form>
        </div>
    </div>




