#search-bar {
    background-color: #393b3f;
    padding: 100px 100px;
}
form {
    display: flex;

    input {
        flex: 1;
        border: none;
        outline: none;
    }
    button {
        color: #ffffff;
        border: none;
        outline: none;
        letter-spacing: 1px;
        background-color: #56a94f;
        &:hover {
            background-color: #0b1513;
        }
    }
}
