<app-header></app-header>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<section>
  <div class="overlay">
    <h1>Visit the B.H</h1>
  </div>
</section>
<div class="row">
  <div class="col-sm-6 col-lg-8">
    <h2>
      Welcome to the family of art, design and performance museums, where
      everyone is invited to enjoy the power of creativity.
    </h2>
  </div>
  <div class="col-6 col-lg-4">
    V&A South Kensington
    <hr />
    Opening times Daily: 10.00 – 17.45 Friday: 10.00 – 22.00
    <hr />
    V&A South Kensington will close at 17.45 on Friday 19 August Admission is
    free Some exhibitions and events carry a separate charge Members visit free
    – join now V&A South Kensington Cromwell Road London, SW7 2RL Follow the V&A
  </div>
</div>
<div class="home">
  <app-header></app-header>
  <div class="body">
    <app-collections></app-collections>
    <app-latest></app-latest>
  </div>
</div>
<app-footer></app-footer>
