<app-header></app-header>
<app-collections></app-collections>

<div id="myBtnContainer">
  <button class="btn active" (click)="getAll()">Show all</button>

  <!-- <button class="btn" *ngFor="let cat of cats">
    <div (click)="get(cat.id)">
      {{ cat.name }}
    </div>
  </button> -->
</div>
<app-latest></app-latest>
<!-- MAIN (Center website) -->
<!-- <div class="main">
  <h2>Online</h2>
  <hr />

  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">
      Show all
    </button>
    <button class="btn" onclick="filterSelection('nature')">Books</button>
    <button class="btn" onclick="filterSelection('cars')">Alibasat</button>
    <button class="btn" onclick="filterSelection('people')">People</button>
  </div>

  <!-- Portfolio Gallery Grid -->
<!-- <app-latest></app-latest>
</div> -->

<app-footer></app-footer>
