<app-header></app-header>
<app-collections></app-collections>

<div id="myBtnContainer" style="margin-top: 100px; margin-bottom: -100px">
  <button class="btn active" onclick="filterSelection('all')">Show all</button>
  <button class="btn" onclick="filterSelection('nature')">Books</button>
  <button class="btn" onclick="filterSelection('cars')">
    Cultural Artifacts
  </button>
  <button class="btn" onclick="filterSelection('people')">Documents</button>
</div>
<app-latest></app-latest>
<!-- MAIN (Center website) -->
<!-- <div class="main">
  <h2>Online</h2>
  <hr />

  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">
      Show all
    </button>
    <button class="btn" onclick="filterSelection('nature')">Books</button>
    <button class="btn" onclick="filterSelection('cars')">Alibasat</button>
    <button class="btn" onclick="filterSelection('people')">People</button>
  </div>

  <!-- Portfolio Gallery Grid -->
<!-- <app-latest></app-latest>
</div> -->

<app-footer></app-footer>
