<app-header></app-header>

<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      data-bs-interval="5000"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div
          class="carousel-item active"
          style="
            background-image: url(../../../assets/images/photo_1CA07862_1129_96D3_41A4_03963097EED7.jpg);
          "
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">
                Donate to BilalulHabeshi
              </h2>
              <p class="animate__animated animate__fadeInUp">
                TO Support Preserve Islamic Cultural and intelectual History
              </p>
              <div>
                <a
                  href="#about"
                  class="btn-get-started animate__animated animate__fadeInUp scrollto"
                  >Click</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row" style="margin-top: 100px">
  <div class="col-sm-6 col-lg-8">
    <h2>Donate</h2>
    <p>
      The Bilalul Habeshi Museum is a charity organization and would like your
      contribution of by donating the Islamic collections that you may have so
      that we can display more collections for the visitors. If you would like
      to discuss making a gift to the us, please fill this form
      <a (click)="open(content)"> Here</a>
      <!-- <a href="mailto:info@bilalulhabeshi.com" blank>email Us</a> -->
    </p>
  </div>

  <img
    src="../../../assets/images/2020_02_27_01_13_170002.jpg"
    alt="Paris"
    style="width: 100%"
  />
</div>

<app-footer></app-footer>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <form [formGroup]="form">
        <formly-form
          [model]="model"
          [fields]="fields"
          [options]="options"
          [form]="form"
        ></formly-form>
        <div class="card-footer" *ngIf="!loading">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Submit
          </button>
        </div>
        <div *ngIf="loading">
          <div class="row justify-content-center text-center">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
