<app-header></app-header>
<section>
  <div class="overlay">
    <h1>Join & Support</h1>
  </div>
</section>
<div class="row">
  <div class="col-sm-6 col-lg-8">
    <p>
      The V&A is a charity and relies on your support. By supporting the V&A
      through Membership, patrons or Corporate Partnership programmes, donating
      towards our special projects or leaving a Legacy, or by making a gift
      towards our broad range of activities and capital campaigns, you are
      helping make the V&A a world-class centre of excellence in art and design.
      Support from members of the public, companies and charitable organisations
      helps us to build and refurbish galleries, curate world-class exhibitions,
      improve facilities, conserve and study the collection, buy objects and
      develop our learning and events programme..
    </p>
  </div>
  <img
    src="../../../assets/images/2020_02_27_01_13_170002.jpg"
    alt="Paris"
    style="width: 100%"
  />
  <h2>Donate</h2>
  <h5>
    The V&A is a charity and relies on the generosity of supporters who share
    our passion for art and design. Your donations help make the work of the V&A
    possible, ensuring that the museum continues to enrich society and inspire
    future generations.
    <br />
    At this challenging time, your support is needed more than ever. Please give
    today.
    <br />
    Thank you.
  </h5>

  <button class="donate">
    <a
      id="dropdownSubMenu1"
      [routerLink]="['/price']"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      class="nav-link dropdown-toggle"
      >Donate</a
    >
  </button>
</div>
<h4>If you would like to discuss making a gift to the B.H, please email</h4>
<a href="bilalulhabeshi@gmail.com"><h3>bilalulhabeshi@gmail.com</h3></a>
<app-footer></app-footer>
