<app-header></app-header>

<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      data-bs-interval="5000"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div
          class="carousel-item active"
          style="
            background-image: url(../../../assets/images/photo_1CA07862_1129_96D3_41A4_03963097EED7.jpg);
          "
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">
                Donate to BilalulHabeshi
              </h2>
              <p class="animate__animated animate__fadeInUp">
                TO Support Preserve Islamic Cultural and intelectual History
              </p>
              <div>
                <a
                  href="#about"
                  class="btn-get-started animate__animated animate__fadeInUp scrollto"
                  >Click</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="container bg-dark"
  style="color: white; margin-top: 120px; margin-bottom: 100px"
>
  <div class="row">
    <div class="col-sm-6 col-lg-8 animate__animated animate__fadeInUp">
      <img
        src="../../../assets/images/2020_02_27_01_13_170002.jpg"
        alt="Paris"
        style="width: 100%; margin-bottom: 30px; margin-top: 30px"
      />
    </div>

    <div class="col-6 col-lg-4">
      <div
        class="row justify-content-start text-start animate__animated animate__fadeInDown"
        style="margin-right: 50px"
      >
        <h2
          style="
            font-size: 25px;
            font-weight: 400;
            color: white;
            margin-top: 40px;
          "
        >
          Donate
        </h2>
        <p>
          The Bilalul Habeshi Museum is a charity organization and would like
          your contribution of by donating the Islamic collections that you may
          have so that we can display more collections for the visitors. If you
          would like to discuss making a gift to the us, please fill this form

          <a
            class="btn btn-outline-secondary text-white btn-block p-3"
            style="color: whitesmoke; margin-top: 50px"
            [routerLink]="['/donate']"
          >
            Donate what you have
          </a>
          <!-- <a href="mailto:info@bilalulhabeshi.com" blank>email Us</a> -->
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
